body{
    margin: 0px;
}



header{
    background-size: cover;
    background-position: center;
    position: relative;
    background-image: url(header_picture2.jpg);
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

header:before{
    content: '';
    position: absolute;
    top:0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.568);	
}

nav{
    background-color: rgba(255, 255, 255, 0.288);
    width: 100%;
    height: 80px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

#logo{
    position: relative;
    color: rgb(255, 255, 255);
    font-size: 35px;
    font-family: 'Bebas', sans-serif;
    font-weight: bold;
    margin-left:30px;
    letter-spacing: 3px;
}

.link { 
    
    color: rgb(0, 8, 56);
    padding: 10px;
    border-radius: 20px;
    background-color: white;
    margin: 10px;
    font-family: 'Bebas', sans-serif;
    letter-spacing: 1px;
    font-size: 12px;
    font-weight: bold;

}

.link:hover{
    background-color: gainsboro;
}    



#menu{
display: none;
margin-right: 10px;
}

#menu div{
    width: 20px;
    height: 3px;
    background-color: white;
    margin-bottom: 4px;
}

#text-container{
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}

#text-container h1{
    color:white;
    font-family: 'Bebas', sans-serif;
    letter-spacing: 3px;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}

#text-container span{
    color:white;
    font-family: 'Bebas', sans-serif;
    letter-spacing: 1px;
    font-size: 20px;
    text-align: center;
}

section{

    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

}

#main_page{

    background-color: gainsboro;
    margin-top: -20px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}




.descriptionContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.descriptionContainer p{
    
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: light;
    letter-spacing: 1px;
    color: rgb(31, 31, 31);
    margin-top: -20px;
    
}

.intestazione{
    color: rgb(31, 31, 31);
    font-size: 25px;
    font-family: 'Open Sans', sans-serif;
    font-weight: light;
    letter-spacing: 3px;
    margin-top: 30px;
    
}

h2{
    color: rgb(31, 31, 31);
    font-size: 25px;
    font-family: 'Open Sans', sans-serif;
    font-weight: light;
    letter-spacing: 3px;
    
    text-decoration: underline;

}

h2:hover{
    color: rgb(219, 221, 82);

}

article{

    width: 90%;
    height: 500px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

article .imageContainer
{
    width: 50%;
    height: 500px;
    background-size: cover;
}

.imageContainer img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}



article .descriptionContainer{
    width: 50%;
    height: 100%;
    background-color: white;
}

.descriptionContainer h1{
    font-family: 'Bebas', sans-serif;
    font-size: 40px;
    font-weight: bold;
}

footer{
    background-color: rgb(31, 31, 31);
    width: 100%;
    height: 220px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


footer h6{
    
    color: white;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

footer h1{
    padding-top: 30px;
    color: rgb(255, 255, 255);
    font-size: 35px;
    font-family: 'Bebas', sans-serif;
    font-weight: bold;
    letter-spacing: 3px;
    
}

@media (max-width: 1000px){

    .descriptionContainer h1{
        font-size: 30px;
        font-family: 'Bebas', sans-serif;
        font-weight: bold;
    }

    .descriptionContainer p{
    
        font-size: 13px;
    }

    .descriptionContainer h2{
        font-size: 15px;
        margin-top: -5px;
    }

   

}

@media (max-width: 600px){

    header{
        height: 300px;
    }

   
    #logo{
      
        font-size: 20px;
        margin-left:15px;
    }

    #text-container h1{
        font-size: 15px;
    }

    #text-container span{
       
        font-size: 10px;
        font-weight: normal;
        margin-left: 10px;
        margin-right: 10px;

    }

    header div a{
        display: none;
    }

    #menu{
        display: block;
    }

    .intestazione{
        font-size: 15px;
    }
   
    .descriptionContainer h1{
        font-size: 30px;
        font-family: 'Bebas', sans-serif;
        font-weight: bold;
    }

    .descriptionContainer p{
    
        font-size: 13px;
    }

    .descriptionContainer h2{
        font-size: 15px;
        margin-top: -5px;
    }


    article{

        width: 90%;
        height: 500px;
        margin-bottom: 30px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    article .imageContainer
{
    width: 100%;
    height: 30%;
    background-image: url(londra.jpg);
    background-size: cover;
}

article .descriptionContainer{
    width: 100%;
    height: 75%;
    background-color: white;
}
   
.descriptionContainer h1{
    
    margin-top: -5px;;
}

}




@media (max-width: 300px){
    .descriptionContainer h1{
        font-size: 25px;
        font-family: 'Bebas', sans-serif;
        font-weight: bold;
    }
    
    .descriptionContainer p{
        
        font-size: 12px;
    }
}